.full{
	width:96%;
	padding:0.5%;
	margin:0.5%;
	background:gray;
	border:1px solid darkgray;
}

.half{
	width:96%;
	padding:0.5%;
	margin:0.5%;
	background:lightyellow;
	border:1px solid darkgray;
}

.third{
	width:96%;
	padding:0.5%;
	margin:0.5%;
	background:lime;
	border:1px solid darkgray;
}

.quoter{
	width:47%;
	padding:0.5%;
	margin:0.5%;
	background:lightpink;
	border:1px solid darkgray;
	min-width: 129px;
}
