
/*
 *  Include this in html header 
 *  <meta name="viewport" content="initial-scale=1" />
 */

/*
 * Do not change rows 
 * Row is a strict wersion of frames that preserve it's size relative to a pare 
 * In other words td-row will alwats be one third of a page
 * 
 */

.fm-spacingrow{
	width:100%;
	min-height: 1.5em;
	content: ' ';
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}
.fm-row{
	width:100%;
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}
.fm-half{
	width:50%;
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}
.fm-threequaters{
	width:75%;
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}
.fm-twothirds{
	width:66.6666%;
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}
.fm-third{
	width:33.3333%;
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}
.fm-quoter{
	width:25%;
	margin:0;
	padding:0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	float:left;
	display:inline-block;
	position:relative;	
}



/*
 * Thats where responcive desig takes it's actions
 * a) 648px viewport size 
 */
@media screen and ( max-width:600px){
	.fm-half ,.fm-threequaters, .fm-wtothirds, .fm-third, .fm-quoter{
		width:100%;
		margin:0;
		padding:0;
	}
	.fm-mobilehide{
		display: none;
	}
	
}

